* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
}

/* style for body */
body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  background-image: url("images/bg-pattern-top-mobile.svg"),
    url("images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
  display: grid;
  justify-content: center;
}

/* style for main content */
main {
  max-width: 325px;
  min-height: 100vh;
  padding: 75px 25px 0;
}

/* style for about section */
.row {
  text-align: center;
  color: var(--very-dark-magenta);
}
h1 {
  font-size: 40px;
  line-height: 0.8;
  font-weight: 700px;
}

header > p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.28;
  font-weight: 500px;
  color: var(--dark-grayish-magenta);
}

/* style for rating section */
section {
  margin-top: 40px;
  display: grid;
  row-gap: 10px;
}
.box {
  height: 78px;
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--light-grayish-magenta);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* style for customer feedback section */
.row-feedback {
  margin-top: 50px;
  color: white;
}
.card {
  padding: 40px 30px 0;
  margin-bottom: 15px;
  height: 250px;
  background-color: var(--very-dark-magenta);
  border-radius: 10px;
}
.customer {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.customer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.info {
  display: grid;
  font-size: 16px;
  font-weight: 500;
  align-content: space-around;
}
.info > .name {
  font-weight: 500;
}
.info > .status {
  color: var(--soft-pink);
}
q {
  max-width: 260px;
  font-weight: 500;
  line-height: 1.5;
  word-spacing: 4px;
}

/* styling footer content of the page */
footer {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  color: var(--dark-grayish-magenta);
}
footer a {
  color: purple;
}

/* style for desktop/larger screens */
@media screen and (width > 1140px) {
  body {
    background-image: url("images/bg-pattern-top-desktop.svg"),
      url("images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
  }

  /* main*/
  main {
    padding-top: 110px;
    max-width: 1110px;
    min-height: 100vh;
    align-self: center;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  header {
    text-align: left;
    height: 250px;
  }
  h1 {
    max-width: 420px;
    font-size: 50px;
  }
  header > p {
    margin-top: 25px;
    font-size: 20px;
    max-width: 460px;
  }

  section {
    margin: 0;
    padding: 25px 0;
  }
  .box {
    padding-left: 30px;
    width: 440px;
    height: 55px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: flex-start;
    align-content: center;
    position: relative;
  }
  .box:nth-child(1) {
    right: 100px;
  }
  .box:nth-child(2) {
    right: 50px;
  }

  /* customer feedback section */
  .row-feedback {
    margin-top: 40px;
    width: 1110px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    max-width: 350px;
  }
  .card:nth-child(2) {
    margin-top: 16px;
  }
  .card:nth-child(3) {
    margin-top: 32px;
  }
}
